<div class="background_img_signin">
<div class="login">

  <div> <img class="logo" src="/assets/atto.PNG"> </div><br>
  <div class="horizontal"> <small> スマートフォン等では、画面を横向きにしてください </small> </div>

<h3>アカウント作成</h3>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "お名前", :size=>"37" %>
  </div><br>

  <!-- <div class="field">
    <%#= f.label :email %><br>
    <%#= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div> -->

  <div class="field">
   <!--  <%#= f.label :password %>
    <%# if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <%# end %><br> -->
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード（４文字以上）", :size=>"37" %>
  </div>

  <div class="field">
   <!--  <%#= f.label :password_confirmation %><br> -->
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワード（確認のため再度ご入力ください）", :size=>"37" %>
  </div><br>

  <div class="actions">
    <%= f.submit "登録", class:"btn btn-danger" %>
  </div><br>
<% end %>

  <div class="popupModal1">
    <input type="radio" name="modalPop" id="pop11" />
      <label for="pop11", class="btn btn-primary"> このアプリについて </label>
      <input type="radio" name="modalPop" id="pop12" />
      <label for="pop12">CLOSE</label>
      <input type="radio" name="modalPop" id="pop13" />
      <label for="pop13">×</label>
      <div class="modalPopup2">
        <div class="modalPopup3">

          <h4 class="modalTitle">
            頭の中から<i>&emsp;</i>部屋の中まで<br>
            シンプルライフを目指す、旅人用モノ・コト整理アプリ
          </h4>

          <div class="modalMain">
            <i>&emsp;</i>スマホの中身も断捨離したい。旅に便利な機能を１アプリにまとめたい。<br>
            <i>&emsp;</i>行先や期間で変わる持ち物リスト、航空機の持込み荷物重量、出先で使った金額、あといくらお土産を買って、カバンに詰め込むことができるのか？一度に管理したいと思いました。<br>

          <div> &nbsp; </div>

          <strong class="fas fa-space-shuttle"> <i>&emsp;</i> シンプル</strong><br>
            <i>&emsp;</i>色使いと画面移動を、最小限にしました。<br>
            <i>&emsp;</i>★アイテム名：<i>&emsp;</i>これさえ入力すれば、その他の項目は空欄でも構いません<br>
            <i>&emsp;</i>★数量・価格：<i>&emsp;</i>小数が使えます、「1.5ドル」も一発入力<br>
            <i>&emsp;</i>★数量の単位・価格の単位：<i>&emsp;</i>文字も記号も使えます、$でも￡でもどうぞ<br>
            <i>&emsp;</i>★検索：<i>&emsp;</i>部分一致検索、曖昧検索ができます<br>
            <i>&emsp;</i>★単価：<i>&emsp;</i>お得にたくさんお土産を<br>
            <div> &nbsp; </div>

          <strong class="fas fa-space-shuttle"> <i>&emsp;</i> 拡張性</strong><br>
            <i>&emsp;</i>"exelより手軽に、メモ帳より高機能"を目指し、アイディア次第で色々な使い方ができるようにしました。<br>
            <i>&emsp;</i>★登録した内容は、ドラッグ&ドロップで順序の変更ができます。<br>
            <i>&emsp;</i>★旅行・防災グッズのリストアップに<br>
            <i>&emsp;</i>★電話番号や本棚のリスト作りに<br>
            <i>&emsp;</i>★単語帳などの学習アプリとして<br>
            <i>&emsp;</i>★期日とチェック機能がついているので、to doリストや、レシピメモとして<br>
            <div> &nbsp; </div>

          <strong class="fas fa-space-shuttle"> <i>&emsp;</i> 追加予定の機能</strong><br>
            <i>&emsp;</i>家族で冷蔵庫の中身を情報共有すれば、賞味期限を過ぎてダメにしたり、あると思っていた調味料を買い忘れたり、反対に重複買いしたり<br>
            <i>&emsp;</i>そんな困った！を防止して、特売日にムダなく買って帰る。<br>
            <i>&emsp;</i>そうして食品ロスが減り、温暖化は改善し、環境が良くなり、キッチンが片付いた両親の機嫌も良くなって、地球と私に平和が訪れる・・・予定です。<br>
          </div>
        </div>
      </div>
  </div><br>

<%= render "devise/shared/links" %>
</div>
</div>