	<div class="col-md-12">
		<%= form_for(@item) do |f| %>
				<table>
					<tbody>
						<tr>
							<th> 　カテゴリー </th>
							<th> 　サブカテゴリー </th>
							<th> 　アイテム名 </th>
							<th> 　数量 </th>
							<th> 　数量の単位 </th>
							<th> 　価格 </th>
							<th> 　価格の単位 </th>
							<th> 　重量(g) </th>
							<th> 　期限 </th>
							<th> 　メモ </th>
						</tr>
							<td> <%= f.text_area :category, size: "14x1" %> </td>
							<td> <%= f.text_area :subcategory, size: "14x1" %> </td>
							<td> <%= f.text_area :item_name, size: "14x1", placeholder: "ここだけ必須" %> </td>
							<td> <%= f.text_area :item_quantity, size: "14x1" %> </td>
							<td> <%= f.text_area :unit, size: "14x1", placeholder: "文字・記号可" %> </td>
							<td> <%= f.text_area :price, size: "14x1", placeholder: "小数可" %> </td>
							<td> <%= f.text_area :price_unit, size: "14x1", placeholder: "文字・記号可" %> </td>
							<td> <%= f.text_area :weight, size: "14x1", placeholder: "グラム" %> </td>
							<td> <%= f.text_area :deadline, size: "14x1" %> </td>
							<td> <%= f.text_area :item_memo_one, size: "14x1" %> </td>
							<td> <%= f.submit '登録', class: 'btn-lg btn-success' %> </td>
					</tbody>
				</table>
			<%#= f.submit '登録', class: "btn-lg btn-success" %>
		<% end %>
	</div>


	<script>
		jQuery(function($){
	    $('.tabcontent > div').hide();

	    $('.tabnav a').click(function () {
	    	$('.tabcontent > div').hide().filter(this.hash).fadeIn();

	    	$('.tabnav a').removeClass('active');
	    	$(this).addClass('active');

	    	return false;
	    }).filter(':eq(0)').click();
		});
	</script>


	<!-- DD(tbodyにid="sort") -->
	<script>
		$(function() {
		  $('#sort').sortable();
		});
	</script>
	<!-- DDここまで -->


	<div class="col-md-11">
		<ul class="tabnav">
	    <li>
	    	<a href="#tab01">
	    		<%= @user.name %> のタブ （登録数　<%= @items.count %>）
	    	</a>
	    </li>
	    <li>
	    	<a href="#tab02">
	    		メニュー
	    	</a>
	    </li>
		</ul>

		<div class="tabcontent">
	    <div id="tab01">
	    	<table class="table table-hover">
					<thead class="item_thead">
						<!-- <th> ☑ </th> -->
						<th> ☆ </th>
						<th> カテゴリー </th>
						<th> サブカテゴリー </th>
						<th> アイテム名 </th>
						<th> 数量 </th>
						<th> 数量の単位 </th>
						<th> 価格 </th>
						<th> 価格の単位 </th>
						<th> 単価(価格/数量) </th>
						<th> 重量(g) </th>
						<th> 期限 </th>
						<th> メモ </th>
					</thead>
					<tbody class="item_tbody" id="sort">
						<% @items.each do |item| %>
							<tr>
								<!-- <td> <%#= check_box_tag :item_name %> </td> -->

								<td>
									<% if item.starred_by?(current_user) %>
								    <%= link_to item_stars_path(item), method: :delete do %>
							      <p class="glyphicon glyphicon-star" aria-hidden="true" style="color: red; font-size:25px"></p>
							      <!-- <p class="fa fa-heart" aria-hidden="true" style="color: red;"></p> -->
							    <% end %>
									<% else %>
								    <%= link_to item_stars_path(item), method: :post do %>
							      <p class="glyphicon glyphicon-star-empty" aria-hidden="true" style="font-size:25px"></p>
								    <% end %>
									<% end %>
								</td>

								<td> <%= item.category %> </td>
								<td> <%= item.subcategory %> </td>
								<td> <%= item.item_name %> </td>
								<td> <%= item.item_quantity.round(2) %> </td>
								<td> <%= item.unit %> </td>
								<td> <%= item.price %> </td>
								<td> <%= item.price_unit %> </td>

								<td>
									<% if item.price.nil? %>
										<%= "" %>
									<% else %>
										<%= (item.price / item.item_quantity).round(2) %>
									<% end %>
								</td>

								<td> <%= item.weight %> </td>

								<td>
									<% if item.deadline.nil? %>
										<%= "" %>
									<% else %>
										<%= item.deadline.strftime('%Y/%m/%-d (%a)') %>
									<% end %>
								</td>

								<td> <%= item.item_memo_one %> </td>
								<td> <%= link_to '編集', edit_item_path(item), class: "btn btn-success" %> </td>
								<td> <%= link_to "", item_path(item), method: :delete, class: "glyphicon glyphicon-remove-circle", style: "font-size:25px;", "data-confirm" => "この項目を削除します"%> </td>
								<!-- item_pathでitem Cに行く、each文で既に1件ずつになっているので()に含む -->
							</tr>
						<% end %>
					</tbody>
				</table>
	    </div>


	    <div id="tab02">
	    	<div> <%= link_to "終了", destroy_user_session_path, method: :delete, class: 'btn btn-danger' %> </div>

				<div class="popupModal1">
				 	<input type="radio" name="modalPop" id="pop11" />
				 	<label for="pop11", class="btn btn-success">登録名変更</label>
				 	<input type="radio" name="modalPop" id="pop12" />
				 	<label for="pop12">CLOSE</label>
				 	<input type="radio" name="modalPop" id="pop13" />
				 	<label for="pop13">×</label>
				 	<div class="modalPopup2">
				  	<div class="modalPopup3">
				   		<h4 class="modalTitle">登録名変更</h4>
				   		<div class="modalMain">
					    	<%= form_for(@user) do |f| %>
							    <%= f.text_field :name, autofocus: true, placeholder:"新しい名前" %>
							    <%= f.submit "登録名変更", class:"btn btn-success" %>
								<% end %>
				   		</div>
				  	</div>
				 	</div>
				</div>

				<a href="http://twitter.com/share?url=http://qiita.com/katsuma">Twitter</a>
	    	<a href="https://www.facebook.com/sharer/sharer.php?u=http://qiita.com/katsuma">Facebook</a>
	    	<a href="http://line.me/R/msg/text/?http://qiita.com/katsuma">LINE</a>
			</div>

		</div>
	</div>