<div class="background_img_show col-xs-12 col-lg-12">
	<div>
		<%= form_for(@item) do |f| %>
				<table>
					<tbody>
						<tr>
							<th> <i>&emsp;</i>カテゴリー </th>
							<th> <i>&emsp;</i>サブカテゴリー </th>
							<th> <i>&emsp;</i>アイテム名 </th>
							<th> <i>&emsp;</i>数量 </th>
							<th> <i>&emsp;</i>数量の単位 </th>
							<th> <i>&emsp;</i>価格 </th>
							<th> <i>&emsp;</i>価格の単位 </th>
							<th> <i>&emsp;</i>重量(g) </th>
							<th> <i>&emsp;</i>期限 </th>
							<th> <i>&emsp;</i>メモ </th>
						</tr>
							<td> <%= f.text_area :category, size: "15x1" %> </td>
							<td> <%= f.text_area :subcategory, size: "15x1" %> </td>
							<td> <%= f.text_area :item_name, size: "15x1", placeholder: "ここだけ必須" %> </td>
							<td> <%= f.text_area :item_quantity, size: "14x1", placeholder: "小数OK" %> </td>
							<td> <%= f.text_area :unit, size: "14x1", placeholder: "文字・記号OK" %> </td>
							<td> <%= f.text_area :price, size: "14x1", placeholder: "小数OK" %> </td>
							<td> <%= f.text_area :price_unit, size: "14x1", placeholder: "文字・記号OK" %> </td>
							<td> <%= f.text_area :weight, size: "14x1", placeholder: "グラム" %> </td>
							<td> <%= f.text_area :deadline, size: "15x1" %> </td>
							<td> <%= f.text_area :item_memo_one, size: "15x1" %> </td>
							<td> <%= f.submit '登録', class: 'btn-lg btn-success', "data-disable-with" => "登録中..." %> </td>
					</tbody>
				</table>
			<%#= f.submit '登録', class: "btn-lg btn-success" %>
		<% end %>
	</div>



<!-- タブ -->
	<script>
		jQuery(function($){
	    $('.tabcontent > div').hide();

	    $('.tabnav a').click(function () {
	    	$('.tabcontent > div').hide().filter(this.hash).fadeIn();

	    	$('.tabnav a').removeClass('active');
	    	$(this).addClass('active');

	    	return false;
	    }).filter(':eq(0)').click();
		});
	</script>
<!-- タブここまで -->


	<!-- DD(tbodyにid="sort") -->
	<script>
		$(function() {
		  $('#sort').sortable();
		});
	</script>
	<!-- DDここまで -->


<div class="col-xs-12 col-lg-12">
  <%= form_tag(user_path(current_user.id), method: "get") do %>
  <%= label_tag :category, "カテゴリー名で検索" %>
  <%= text_field_tag :category, params[:category] %>
  <%= button_tag( class: " btn-primary") do %>
  <%= content_tag :span, "", class: "glyphicon glyphicon-search" %>
  <% end %>
  <% end %>
</div>

<div class="col-xs-12 col-lg-12">
	<%= form_tag(user_path(current_user.id), method: "get") do %>
	<%= label_tag :item_name, "アイテム名で検索" %><i>&emsp;</i>
  <%= text_field_tag :item_name, params[:item_name] %>
  <%= button_tag( class: " btn-primary") do %>
  <%= content_tag :span, "", class: "glyphicon glyphicon-search" %>
  <% end %>
  <% end %>
</div>
<div> &nbsp; </div>

	<div class="col-xs-12 col-lg-12">
		<ul class="tabnav">
	    <li>
	    	<a href="#tab01">
	    		<%= @user.name %> のタブ （登録数<i>&emsp;</i><%= @items.count %>）
	    	</a>
	    </li>
	    <li>
	    	<a href="#tab02">
	    		メニュー
	    	</a>
	    </li>
		</ul>

		<div class="tabcontent">
	    <div id="tab01">

		    	<div class="search-results col-md-offset-5">
						<strong> <%= flash[:notice] %> </strong>
					</div><br>

				<div style="height:550px; overflow-y:auto;">
		    	<table class="table table-hover table-bordered">
						<thead class="item_thead">
							<th> ☆ </th>
							<th> カテゴリー </th>
							<th> サブカテゴリー </th>
							<th> アイテム名 </th>
							<th> 数量 </th>
							<th> 数量の単位 </th>
							<th> 価格 </th>
							<th> 価格の単位 </th>
							<th> 単価 </th>
							<th> 重量(g) </th>
							<th> 期限 </th>
							<th class="col-xs-2"> メモ </th>
							<th> 編集 </th>
							<th> 削除 </th>
						</thead>

						<tbody class="item_tbody" id="sort">
							<% @items.each do |item| %>
								<tr>
									<!-- <td> <%#= check_box_tag :item_name %> </td> -->

									<td>
										<% if item.starred_by?(current_user) %>
									    <%= link_to item_stars_path(item), method: :delete do %>
								      <p class="glyphicon glyphicon-star" aria-hidden="true" style="color: red; font-size:25px"></p>
								      <!-- <p class="fa fa-heart" aria-hidden="true" style="color: red;"></p> -->
								    <% end %>
										<% else %>
									    <%= link_to item_stars_path(item), method: :post do %>
								      <p class="glyphicon glyphicon-star-empty" aria-hidden="true" style="font-size:25px"></p>
									    <% end %>
										<% end %>
									</td>

									<td> <%= item.category %> </td>
									<td> <%= item.subcategory %> </td>
									<td> <%= item.item_name %> </td>

									<td>
										<% if item.item_quantity.nil? %>
											<%= "" %>
										<% else %>
											<%= number_with_delimiter(item.item_quantity.round(2)) %>
										<% end %>
									</td>

									<td> <%= item.unit %> </td>
									<td> <%= number_with_delimiter(item.price) %> </td>
									<td> <%= item.price_unit %> </td>

									<td>
										<% if item.price.nil? %>
											<%= "" %>
										<% else %>
											<%= number_with_delimiter((item.price / item.item_quantity).round(2)) %>
										<% end %>
									</td>

									<td> <%= number_with_delimiter(item.weight) %> </td>

									<td>
										<% if item.deadline.nil? %>
											<%= "" %>
										<% else %>
											<%= item.deadline.strftime('%Y/%m/%-d (%a)') %>
										<% end %>
									</td>

									<td style="word-wrap:break-word;"> <%= item.item_memo_one %> </td>

									<%# if @items == current_user %>
										<td> <%= link_to '編集', edit_item_path(item), class: "btn btn-success" %> </td>
									<%# elsif %>
										<!-- <td> .. </td> -->
									<%# end %>

									<%# if @items == current_user %>
										<td> <%= link_to "", item_path(item), method: :delete, class: "glyphicon glyphicon-remove-circle", style: "font-size:25px;", "data-confirm" => "この項目を削除します"%> </td> <!-- item_pathでitem Cに行く、each文で既に1件ずつになっているので()に含む -->
									<%# elsif %>
										<!-- <td> .. </td> -->
									<%# end %>

								</tr>
							<% end %>
						</tbody>
					</table>
				</div>
	    </div>


	    <div id="tab02">
	    	<div> <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn btn-danger' %> </div> <br>

				<div class="popupModal1">
				 	<input type="radio" name="modalPop" id="pop11" />
				 	<label for="pop11", class="btn btn-success"> 登録情報変更 </label>
				 	<input type="radio" name="modalPop" id="pop12" />
				 	<label for="pop12">CLOSE</label>
				 	<input type="radio" name="modalPop" id="pop13" />
				 	<label for="pop13">×</label>
				 	<div class="modalPopup2">
				  	<div class="modalPopup3">
				   		<h4 class="modalTitle"> お名前を変更しますか？ </h4>
				   		<div class="modalMain">
				   			<label> 現在のお名前：&nbsp;<%= @user.name %> </label>
				   			<div> ↓ </div>
					    	<%= form_for(@user) do |f| %>
							    <label>変更後のお名前：</label>
							    <%= f.text_field :name, autofocus: true %><br>
							    <div> <%= f.submit "変更", class:"btn btn-success", "data-disable-with" => "変更中..." %> </div>
								<% end %>
				   		</div>
				  	</div>
				 	</div>
				</div><br>

				<div>
					<a class="fab fa-facebook-square" href="https://www.facebook.com/sharer/sharer.php?u=http://qiita.com/katsuma"> Facebook </a>
					<a class="fab fa-twitter-square" href="http://twitter.com/share?url=http://qiita.com/katsuma"> Twitter </a>
	    		<a class="fab fa-line" href="http://line.me/R/msg/text/?http://qiita.com/katsuma"> LINE </a>
	    	</div> <br>

	    	<div>
	    		<%= link_to "アカウント削除", user_path(current_user.id), class: 'btn btn-danger', method: :delete, "data-confirm" => "データはすべて削除され、復元できません。よろしいですか？" %>
	    	</div>

			</div>

		</div>
	</div>
</div>