<div> <%= link_to "終了", destroy_user_session_path, method: :delete, class: 'btn btn-danger' %> </div>

	<%= form_for(@item) do |f| %>
			<table>
				<tbody>
					<tr>
						<th>カテゴリー</th>
						<th>サブカテゴリー</th>
						<th>アイテム名</th>
						<th>数量</th>
						<th>単位</th>
						<th>価格</th>
						<th>重量</th>
						<th>期限</th>
						<th>メモ</th>
					</tr>
						<td> <%= f.text_area :category %> </td>
						<td> <%= f.text_area :subcategory %> </td>
						<td> <%= f.text_area :item_name %> </td>
						<td> <%= f.text_area :item_quantity %> </td>
						<td> <%= f.text_area :unit %> </td>
						<td> <%= f.text_area :price %> </td>
						<td> <%= f.text_area :weight %> </td>
						<td> <%= f.text_area :deadline %> </td>
						<td> <%= f.text_area :item_memo_one %> </td>
				</tbody>
			</table>
		<div> <%= f.submit '登録' %> </div>
	<% end %>

	<table class="table table-hover">
		<thead>
				<th>カテゴリー</th>
				<th>サブカテゴリー</th>
				<th>アイテム名</th>
				<th>数量</th>
				<th>単位</th>
				<th>価格</th>
				<th>重量</th>
				<th>期限</th>
				<th>メモ</th>
		</thead>
		<tbody>
				<% @items.each do |item| %>
					<tr>
				    <td> <%= item.category %> </td>
				    <td> <%= item.subcategory %> </td>
						<td> <%= item.item_name %> </td>
						<td> <%= item.item_quantity %> </td>
						<td> <%= item.unit %> </td>
						<td> <%= item.price %> </td>
						<td> <%= item.weight %> </td>
						<td> <%= item.deadline %> </td>
						<td> <%= item.item_memo_one %> </td>
						<td> <%= link_to "削除", item_path(item), method: :delete, class: "btn-sm btn-danger", "data-confirm" => "このアイテムを削除します"%> </td> <!-- item_pathでitem Cに行く、each文で既に1件ずつになっているので()に含む -->
					</tr>
				<% end %>
		</tbody>
	</table>
