<div class="background_img_edit">
	<div class="table_edit">
		<%= form_for(@item) do |f| %>
			<table>
				<tbody>
					<tr>
						<th class="th_edit"> カテゴリー </th>
						<th class="th_edit"> サブカテゴリー </th>
						<th class="th_edit"> アイテム名 </th>
						<th class="th_edit"> 数量 </th>
						<th class="th_edit"> 数量の単位 </th>
						<th class="th_edit"> 価格 </th>
						<th class="th_edit"> 価格の単位 </th>
						<th class="th_edit"> 重量(g) </th>
						<th class="th_edit"> 期限 </th>
						<th class="th_edit"> メモ </th>
					</tr>
						<td> <%= f.text_area :category, size: "15x1" %> </td>
						<td> <%= f.text_area :subcategory, size: "15x1" %> </td>
						<td> <%= f.text_area :item_name, size: "15x1", placeholder: "ここだけ必須" %> </td>
						<td> <%= f.text_area :item_quantity, size: "14x1" %> </td>
						<td> <%= f.text_area :unit, size: "14x1", placeholder: "文字・記号OK" %> </td>
						<td> <%= f.text_area :price, size: "14x1", placeholder: "小数OK" %> </td>
						<td> <%= f.text_area :price_unit, size: "14x1", placeholder: "文字・記号OK" %> </td>
						<td> <%= f.text_area :weight, size: "14x1" %> </td>
						<td> <%= f.text_area :deadline, size: "15x1" %>  </td>
						<td> <%= f.text_area :item_memo_one, size: "15x1" %> </td>
						<td> <%= f.submit '更新', class: 'btn-lg btn-success' %> </td>
						<td> <%= link_to "戻る", user_path(current_user.id), class: 'btn-lg btn-primary' %> </td>
					</tbody>
			</table>
			<%#= link_to "一覧に戻る", user_path(current_user.id), class: 'btn btn-primary' %>
		<% end %>
	</div>
</div>